body {
	padding-top:4rem;
}

.header {
	padding-bottom:8rem;
}
.header  h1, .header p{
	text-align:center;
}
.header h1 {
	font-size:12rem;
}
.header p{
margin-bottom:6rem;
}

.column.demo{
	min-height:6rem;
	margin-bottom: 2rem;
	background: #fe5f55;
}
.column.demo.altcolor {
	background:#56adfe;
}

.group {
	padding:2rem 2rem 0 2rem;
	margin-bottom:8rem;
	background:#ECEFF1;
	overflow:auto; /* fix collapsing margins*/
}

.group pre code {
	background:#fafafa;
}